<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16499338794-9o7si8733q1636mv5t4do1j6civ0htc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16499338794-9o7si8733q1636mv5t4do1j6civ0htc1</string>
	<key>API_KEY</key>
	<string>AIzaSyBwO8oC8r7GfnAQb7Fr_3yf0jmJk5zb_dY</string>
	<key>GCM_SENDER_ID</key>
	<string>16499338794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.front</string>
	<key>PROJECT_ID</key>
	<string>h-flix</string>
	<key>STORAGE_BUCKET</key>
	<string>h-flix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16499338794:ios:b9263d1cabde38fae6dd53</string>
</dict>
</plist>